<div class="header-band">
  <h1>The ShiftMaster Scheduler</h1>
</div>

<div class="input-container">
  <!-- Username -->
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" placeholder="Enter your username" [(ngModel)]="username" [ngClass]="{'error': loginError}">

  <!-- Password -->
  <label for="password">Password:</label>
  <input type="password" id="password" name="password" placeholder="Enter your password" [(ngModel)]="password" [ngClass]="{'error': loginError}">

  <!-- Login Button -->
  <button class="button" (click)="onLogin()">Login</button>

  <!-- Login Error Message -->
  <div *ngIf="loginError" class="login-error">Incorrect username or password. Please try again.</div>
</div>
