<app-navbar></app-navbar>
<app-logo-display></app-logo-display>

<!--list out the data that should be visible to employees and let it be sortable-->
<div class="container">
  <div *ngIf="users.length > 0; else noUsers">
    <table>
      <thead>
      <tr>
        <th (click)="sortTable('firstName')">Full Name</th>
        <th (click)="sortTable('role')">Role</th>
        <th (click)="sortTable('email')">Email</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.firstName }} {{ user.lastName }}</td>
        <td>{{ roleByNumber(user.role) }}</td>
        <td>{{ user.email }}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <ng-template #noUsers>
    <p>No users available.</p>
  </ng-template>
</div>
