<app-navbar></app-navbar>
<app-logo-display></app-logo-display>

<!--This is a form that creates input forms for making a new shift. runs onSubmit() when ready to create shift-->
<div class="container">
    <button (click)="toggleForm()" class="form-button">{{ showForm ? 'Click to Close' : 'Create New Shift +' }}</button>
    <div *ngIf="showForm" class="form-container">
      <h2>Create New Shift</h2>
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="task">Task</label>
          <input type="text" id="task" [(ngModel)]="newShift.name" name="task" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="user">Employee</label>
          <select id="user" [(ngModel)]="newShift.id" name="user" class="form-control" required>
            <option value="">Unassigned</option>
            <option *ngFor="let user of users" [value]="user.id">{{ user.firstName }} {{ user.lastName }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="dateTime">Date and Time</label>
          <input type="datetime-local" id="dateTime" [(ngModel)]="newShift.dateTime" name="dateTime" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="role">Role</label>
          <select id="role" [(ngModel)]="newShift.role" name="role" class="form-control" required>
            <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
          </select>
        </div>
        <button type="submit">Create Shift</button>
      </form>
    </div>

  <!--Shows all current shifts. if edit button is clicked it turns that row into intput boxes
  when done it updates that row. when edit it clicked it also shows delete button-->
<div *ngIf="shifts.length > 0; else noShifts">
  <table>
    <thead>
    <tr>
      <th (click)="sortTable('name')">Task</th>
      <th (click)="sortTable('dateTime')">Date</th>
      <th (click)="sortTable('role')">Role</th>
      <th (click)="sortTable('fullName')">Employee</th>
      <th>Edit</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let shift of shifts; let i = index">
      <td *ngIf="editedRow === i; else displayName">
        <input type="text" [(ngModel)]="editShift.name" aria-label="Task">
      </td>
      <ng-template #displayName>
        <td>{{ shift.name }}</td>
      </ng-template>
      <td *ngIf="editedRow === i; else displayDateTime">
        <input type="datetime-local" [(ngModel)]="editShift.dateTime" aria-label="Date and Time">
      </td>
      <ng-template #displayDateTime>
        <td>{{ shift.dateTime | date: 'short' }}</td>
      </ng-template>
      <td *ngIf="editedRow === i; else displayRole">
        <select [(ngModel)]="editShift.role" aria-label="Role">
          <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
        </select>
      </td>
      <ng-template #displayRole>
        <td>{{ getRoleString(shift.role) }}</td>
      </ng-template>
      <td *ngIf="editedRow === i; else displayEmployee">
        <select [(ngModel)]="editShift.username" aria-label="Employee">
          <option value="">Unassigned</option>
          <option *ngFor="let user of users" [value]="user.username">{{ user.firstName }} {{ user.lastName }}</option>
        </select>
      </td>
      <ng-template #displayEmployee>
        <td>{{ shift.fullName }}</td>
      </ng-template>
      <td>
        <button (click)="toggleEditRow(i)">
          <span *ngIf="editedRow === i">&#10003;</span>
          <span *ngIf="editedRow !== i">&#9998;</span>
        </button>
        <button *ngIf="editedRow === i" (click)="deleteShift(shift.id)">
          🗑️
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<ng-template #noShifts>
  <p>No shifts available.</p>
</ng-template>
</div>
