<div *ngIf="shifts.length > 0; else noShifts">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Date</th>
          <th>Role</th>
          <th>User ID</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let shift of shifts">
          <td>{{ shift.id }}</td>
          <td>{{ shift.name }}</td>
          <td>{{ shift.dateTime | date: 'short' }}</td>
          <td>{{ shift.role }}</td>
          <td>{{ shift.userId }}</td>
        </tr>
      </tbody>
    </table>
</div>
<ng-template #noShifts>
    <p>No shifts available.</p>
</ng-template>
  