
<!--normal input boxes for password and username-->
<div class="input-container">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" placeholder="Enter your username" [(ngModel)]="username" [ngClass]="{'error': loginError}">


  <label for="password">Password:</label>
  <input type="password" id="password" name="password" placeholder="Enter your password" [(ngModel)]="password" [ngClass]="{'error': loginError}">


  <button class="button" (click)="onLogin()">Login</button>

  <div *ngIf="loginError" class="login-error">Incorrect username or password. Please try again.</div>
</div>
