nav {
  background: #37474f;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px 0;
  font-family: 'Arial', sans-serif;
  box-shadow: 4px 0 8px rgba(0, 0, 0, 0.1);
  height: 100vh;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001; /* Ensure nav is above the headband */
}

nav button {
  background-color: transparent;
  color: white;
  border: none;
  padding: 15px 20px;
  text-align: left;
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 0;
}

nav button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

nav button:focus {
  outline: none;
}

nav button.active {
  background-color: rgba(255, 255, 255, 0.2);
}
